.card {
  height: 120px;
  background: #c6c6c6;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.card:hover {
	transform: scale(1.08);
}

img {
  width: 60%;
}
